<!-- Footer Section -->
<footer class="footer-section">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget">
                    <a href="index.html" class="footer-logo">
                      <img src="../../../../assets/img/logo-removebg-preview (1).png" alt="Opticatijuana" style="width: auto; height: 75px;">
                    </a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis alias inventore harum modi, cumque consequuntur suscipit, corporis illo soluta dolorem fugit repudiandae, voluptas fugiat veniam ducimus provident nostrum nihil a!</p>
                    <a *ngIf="!isCreditApplied" routerLink="/applyForm" class="site-btn sb-danger sit-btn">Solicitar Crédito</a>
                    <a *ngIf="isCreditApplied" routerLink="/user/layout/view-credit-status" class="site-btn sb-danger sit-btn">
                        Ver Estado de la Solicitud de Crédito
                    </a>
                  </div>
                  
            </div>
            <div class="col-lg-2 col-sm-6">
                
            </div>
            <div class="col-lg-3 col-sm-6"> 
                <div class="footer-widget">
                    <h2>Enlaces Rápidos</h2>
                    <ul>
                        <li><a href="#home">Inicio</a></li>
                        <li><a href="#about">Sobre Nosotros</a></li>
                        <li><a href="#contact">Contacto</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget socialLinks">
                    <h2>Redes Sociales</h2>
                    <ul style="list-style: none; padding: 0;">
                        <li>
                            <a href="https://wa.me/your-number" target="_blank" style="text-decoration: none; color: white;">
                                <i class="fab fa-whatsapp icon-big"></i> WhatsApp
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/your-profile" target="_blank" style="text-decoration: none; color: white;">
                                <i class="fab fa-instagram icon-big"></i> Instagram
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/your-profile" target="_blank" style="text-decoration: none; color: white;">
                                <i class="fab fa-facebook icon-big"></i> Facebook
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            
            
        </div>
        
        <div class="copyright" style="text-align: center;">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.
</div>
    </div>
</footer>
<!-- Footer Section end -->
