<!-- Footer Section -->
<footer class="footer-section">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget">
                    <a href="index.html" class="footer-logo">
                        <!-- <img src="img/logo.png" alt=""> -->
                         <strong style="font-size: 28px; color: #f43f00;">Opticatijuana</strong>
                    </a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis alias inventore harum modi, cumque consequuntur suscipit, corporis illo soluta dolorem fugit repudiandae, voluptas fugiat veniam ducimus provident nostrum nihil a!</p>
                    <a href="./form.html" >
                        <button class="site-btn">Apply</button>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About US</a></li>
                        <li><a href="#score">Credit Score</a></li>
                        <li><a href="#contact">Contact</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget socialLinks">
                    <h2>Social Links</h2>
                    <ul style="list-style: none; padding: 0;">
                        <li>
                            <a href="https://wa.me/your-number" target="_blank" style="text-decoration: none; color: white;">
                                <i class="fab fa-whatsapp icon-big"></i> WhatsApp
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/your-profile" target="_blank" style="text-decoration: none; color: white;">
                                <i class="fab fa-instagram icon-big"></i> Instagram
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/your-profile" target="_blank" style="text-decoration: none; color: white;">
                                <i class="fab fa-facebook icon-big"></i> Facebook
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            
        </div>
        
        <div class="copyright" style="text-align: center;">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.
</div>
    </div>
</footer>
<!-- Footer Section end -->
