<div class="container">
    <div class="row">
        <div class="col-md  mt-4">
            <div class="card mt-5">
                <div class="card-body">
                   
                    <h1>View Users</h1>

                   <table class="table table-bordered mt-5">
                    <thead>
                        <tr>
                            <th>SR NO.</th>
                                <th>NAME</th>
                                <th>EMAIL</th>
                                <th>PHONE NO.</th>
                                <th>MORE DETAILS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                                <td class="text-bold-500">Michael Right</td>
                                <td>Michael@gmail.com</td>
                                <td class="text-bold-500">+91 9874635534</td>
                               
                                 <td><a  routerLink="/layout/viewUserDetails" class="btn btn-outline-success">View Details</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                    <td class="text-bold-500">Michael Right</td>
                                    <td>Michael@gmail.com</td>
                                    <td class="text-bold-500">+91 9874635534</td>
                                   
                                    <td><a  routerLink="/layout/viewUserDetails" class="btn btn-outline-success">View Details</a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                        <td class="text-bold-500">Michael Right</td>
                                        <td>Michael@gmail.com</td>
                                        <td class="text-bold-500">+91 9874635534</td>
                                        <td><a  routerLink="/layout/viewUserDetails" class="btn btn-outline-success">View Details</a></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                            <td class="text-bold-500">Michael Right</td>
                                            <td>Michael@gmail.com</td>
                                            <td class="text-bold-500">+91 9874635534</td>
                                         
                                            <td><a  routerLink="/layout/viewUserDetails" class="btn btn-outline-success">View Details</a></td>
                                        </tr>
                        
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

