<div class="container">
    <div class="row">
        <div class="col-md  mt-4">
            <div class="card mt-5">
                <div class="card-body">
                   
                    <h1>View Users</h1>

                   <table class="table table-bordered mt-5">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                                <th>Name</th>
                                <th>Employer Name</th>
                               
                                <th>Phone No.</th>
                                <th>More Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let user of users; let i = index">
                            <td>{{i+1}}</td>
                                <td class="text-bold-500">{{user.full_name}}</td>
                                <td class="text-bold-500">{{user.employer_name}} </td>
                                <td>{{user.contact_details}}</td>
                              
                               
                                 <td>  <a [routerLink]="['/layout/viewUserDetails', user.id]" class="btn btn-outline-success">
                                    View Details
                                  </a></td>
                            </tr>
                          
                        
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

