<div class="container">
  <div class="row">
    <div class="col-md mt-4">
      <div class="card mt-5">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h1>Detalles de EMI</h1>
            </div>
            <div class="col-md-3">
              <button class="btn btn-success float-end" (click)="exportToExcel()">Exportar a Excel</button>
            </div>
          </div>

          <!-- Tabla de Transacciones -->
          <div class="container mt-4">
            <div class="table-responsive mt-4">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>EMI</th>
                    <th>Monto de EMI</th>
                    <th>Interés de EMI</th>
                    <th>Fecha de Vencimiento</th>
                    <th>Monto Liquidado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Recorre las EMI -->
                  <tr *ngFor="let emi of emiDetails">
                    <td>{{ emi.emiNumber }}</td>
                    <td>${{ emi.principalAmount }}</td>
                    <td>{{ emi.interestAmount }}</td>
                    <td>{{ emi.dueDate | date: 'yyyy-MM-dd' }}</td>

                    <td>
                      {{
                        emi.settled
                          ? (emi.principalAmount + emi.interestAmount | number: '1.2-2')
                          : 'No Liquidado'
                      }}
                    </td>

                    <td>
                      <button
                        class="btn btn-primary"
                        [disabled]="emi.remainingInterest === 0 && emi.remainingPrincipal === 0"
                        data-bs-toggle="modal"
                        data-bs-target="#openSettleModal"
                        (click)="openSettleModal(emi)"
                      >
                        Liquidar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Liquidar EMI -->
<div
  class="modal fade"
  id="openSettleModal"
  tabindex="-1"
  aria-labelledby="openSettleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openSettleModalLabel">Liquidar EMI</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="emiForm">
          <div class="mb-3">
            <label for="amount" class="form-label"
              >Monto Total (Principal + Interés)</label
            >
            <input
              type="number"
              class="form-control"
              id="amount"
              [value]="
                selectedEmi
                  ? (selectedEmi.principalAmount + selectedEmi.interestAmount).toFixed(2)
                  : '0.00'
              "
              [disabled]="true"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="settleEMI()"
        >
          Liquidar EMI
        </button>
      </div>
    </div>
  </div>
</div>
