<div class="container" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="card shadow p-4" style="max-width: 500px; margin: auto;">
        <h3 class="text-center mb-4">Actualizar Correo Electrónico o Contraseña</h3>

        <form [formGroup]="updateForm" (ngSubmit)="updateAccount()">
            <!-- Change Email Field -->
            <div class="mb-3">
                <label for="email" class="form-label">Nuevo Correo Electrónico</label>
                <input type="email" class="form-control" formControlName="newEmail" id="email" placeholder="Introduce un nuevo correo electrónico">
            </div>

            <!-- Change Password Field -->
            <div class="mb-3">
                <label for="password" class="form-label">Nueva Contraseña</label>
                <input type="password" class="form-control" formControlName="newPassword" id="password" placeholder="Introduce una nueva contraseña">
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary w-100">Actualizar</button>
        </form>
    </div>
</div>
