<div class="login-box">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="user-box">
      <input
        type="email"
        name="email"
        required
        formControlName="email"
        [class.filled]="loginForm.get('email')?.value"
      />
      <label>Correo Electrónico</label>
    </div>
    <div class="user-box">
      <input
        type="password"
        name="password"
        required
        formControlName="password"
        [class.filled]="loginForm.get('password')?.value"
      />
      <label>Contraseña</label>
    </div>
    <button type="submit" class="submit-button">Enviar</button>
  <!-- Change Password Link -->
<div class="mt-3" style="font-size: 18px; text-align: center; cursor: pointer;" (click)="openForgotPasswordModal()">
  <i class="bi bi-key-fill"></i> Change Password
</div>
  </form>
</div>
<div id="forgotPasswordModal" class="modal" *ngIf="showForgotPasswordModal">
  <div class="modal-content">
    <span class="close" (click)="closeForgotPasswordModal()">&times;</span>
    <h2>Reset Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetEmail()">
      <div class="user-box">
        <input type="email" formControlName="email" class="form-control offset-md-3 mt-3 " style="width: 50%;" required placeholder="Enter your email" />
      </div>
      <button type="submit" class="submit-button btn mt-5">Submit</button>
    </form>
  </div>
</div>
