

<!-- Header Section -->
<header class="header-section">
    <a href="index.html" class="site-logo">
        <!-- <img src="img/logo.png" alt=""> -->
         <p style="font-size: 20px; color: #f43f00;">Opticatijuana</p>
    </a>
    <nav class="header-nav">
        <ul class="main-menu">
            <li><a href="#home" class="active">Home</a></li>
            <li><a href="#about">About Us</a></li>
            
            <li><a href="#score">Credit Score</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
      
        <div class="header-right">
            
            <a routerLink="/login">
                <div class="hr-btn hr-btn-2">Sign Up</div>
            </a>
        </div>
    </nav>
    <div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_open" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav" aria-hidden="false" role="menu" style="">
        <li><a href="#home" class="active" role="menuitem" tabindex="0">Home</a></li>
        <li><a href="#about" role="menuitem" tabindex="0">About Us</a></li>
        
        <li><a href="#score" role="menuitem" tabindex="0">Credit Score</a></li>
        <li><a href="#contact" role="menuitem" tabindex="0">Contact</a></li>
    </ul></div>
    
</header>
<!-- Header Section end -->
