
<div class="container py-5 " style="margin-top: 100px;"  >
    <div class="row">
      <div class="col-md mt-4">
        <div class="card mt-5">
          <div class="card-body">
            
            
                   <h2 class="text-center">EMI Details</h2>
              
       
  <div class="container mt-4">
   
   
  
 
  
    <!-- Transaction Table -->
    <div class="table-responsive mt-4">
     
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>EMI ID</th>
            <th>Amount</th>
            <th>Date</th>
           
           
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>1</td>
            <td> 10 </td>
            <td> 8</td>
           
            <td>Settel </td>
          
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

