<div id="sidebar">
    <div class="sidebar-wrapper active">
<div class="sidebar-header position-relative">
<div class="d-flex justify-content-between align-items-center">
    <div class="logo">
        <a href="index.html">Opticatijuana</a>
    </div>
   
    <div class="sidebar-toggler  x">
        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
    </div>
</div>
</div>
<div class="sidebar-menu">
<ul class="menu">
   
    
    <li
        class="sidebar-item active" routerLinkActive="active" >
        <a routerLink="/admin/layout/dashboard" class='sidebar-link'>
            <i class="bi bi-grid-fill"></i>
            <span>Dashboard</span>
        </a>
        

    </li>
    
    <li
        class="sidebar-item" routerLinkActive="active">
        <a routerLink="/admin/layout/users" class='sidebar-link'>
            <i class="bi bi-person-fill"></i>
            <span>Users</span>
        </a>
    </li>
    
    <li
        class="sidebar-item" routerLinkActive="active">
        <a routerLink="/admin/layout/view-products" class='sidebar-link'>
            <i class="bi bi-box-seam"></i>
            <span>View Products</span>
        </a>
   </li>
    <li
    class="sidebar-item" routerLinkActive="active">
    <a routerLink="/admin/layout/new-users" class='sidebar-link'>
        <i class="bi bi-people-fill"></i>
        <span>New Users</span>
    </a>
</li>
    
    
    <li
        class="sidebar-item" routerLinkActive="active">
        <a href="./Privacy-Policy.html" class='sidebar-link'>
            <i class="bi bi-shield-fill-check"></i>
            <span>Privacy Policy</span>
        </a>
        

    </li>
    

    
   
    
 
 
    
 

</ul>
</div>
</div>
</div>