.icon-wrapper {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }
  
  .card-body {
    text-align: left;
  }
  
  .text-muted {
    font-size: 14px;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .font-extrabold {
    font-weight: 800;
    font-size: 18px;
  }
  


  .nav-tabs .nav-link {
    font-size: 18px;
  color: black;
    border: none;
    padding: 12px 20px;
    text-transform: capitalize;
  }
  
  .nav-tabs .nav-link.active {
    background-color: #5D87FF;
    color: white;
    border-radius: 10px 10px 0 0;
  }

 /* Override styles for buttons inside the table */
.table button {
  visibility: visible;  /* Ensures buttons are visible */
  z-index: 1;  /* Places buttons on top if needed */
  background-color: #007bff; 
  padding: 5px 10px; /* Ensures button background color is set */
  color: white;
  margin-top: 10%;
  margin-left: 20%;
 
}

.table button[disabled] {
  background-color: #6c757d;  /* Grey color for disabled buttons */
  color: #fff;  /* White color for disabled button text */
}





.bg-warning {
  color:black !important;
  background-color: rgb(245, 245, 0) !important;
}

.bg-danger {
  background-color: rgb(232, 5, 5) !important;
}

.bg-success {
  background-color: green !important;
}

.bg-primary {
  background-color: blue !important;
}

 
