<div class="container">
  <div class="row">
    <div class="col-md mt-4">
      <div class="card mt-5">
        <div class="card-body">
          <div class="row">
              <div class="col-md-9">
                 <h1>Detalles de Usuarios</h1>
              </div>
          </div>
     
<div class="container mt-4">
  <!-- Tarjetas superiores -->
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Límite de Crédito</h5>
          <div class="d-flex justify-content-center">
            <p class="card-text mb-2">${{ creditStatus.creditLimit.toLocaleString() }}</p>
            <span class="ms-2">|</span>
            <span class="ms-2 text-success" role="button" data-bs-toggle="modal" data-bs-target="#updateCreditLimitModal">
              Actualizar
            </span>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Modal para actualizar límite de crédito -->
    <div
      class="modal fade"
      id="updateCreditLimitModal"
      tabindex="-1"
      aria-labelledby="updateCreditLimitModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateCreditLimitModalLabel">
              Actualizar Límite de Crédito
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="updateCreditForm">
              <div class="mb-3">
                <label for="creditLimit" class="form-label">Nuevo Límite de Crédito</label>
                <input
                  type="number"
                  class="form-control"
                  id="creditLimit"
                  formControlName="creditLimit"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateCreditLimit(userId, updateCreditForm.value.creditLimit)">Actualizar</button>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Crédito Usado</h5>
          <p class="card-text">${{ creditStatus.creditUsed.toLocaleString() }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Crédito Disponible</h5>
          <p class="card-text">${{ creditStatus.availableCredit.toLocaleString() }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón para añadir transacción -->
  <div class="text-right mt-3">
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#transactionModal"
  >
    Añadir Transacción
  </button>
</div>

<!-- Modal para añadir transacción -->
<div
  class="modal fade"
  id="transactionModal"
  tabindex="-1"
  aria-labelledby="transactionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transactionModalLabel">
          Añadir Nueva Transacción
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="transactionForm">
          <div class="mb-3">
            <label for="amount" class="form-label">Monto</label>
            <input
              type="number"
              class="form-control"
              id="amount"
              formControlName="amount"
            />
          </div>
          <div class="mb-3">
            <label for="dueDate" class="form-label">Fecha de Vencimiento</label>
            <input
              type="date"
              class="form-control"
              id="dueDate"
              formControlName="dueDate"
            />
          </div>
          <div class="mb-3">
            <label for="remark" class="form-label">Observaciones</label>
            <textarea
              class="form-control"
              id="remark"
              formControlName="remark"
            ></textarea>
          </div>
          <div formGroupName="emiDetails">
            <div class="mb-3">
              <label for="Emis" class="form-label">Número de EMIs</label>
              <input
                type="number"
                class="form-control"
                id="Emis"
                formControlName="Emis"
              />
            </div>
            <div class="mb-3">
              <label for="interest" class="form-label">Tasa de Interés Anual</label>
              <input
                type="number"
                class="form-control"
                id="interest"
                formControlName="interest"
              />
            </div>
          </div>
        </form>
      </div>
      
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="addTransaction()"  data-bs-dismiss="modal">Añadir Transacción</button>
      </div>
    </div>
  </div>
</div>

  <!-- Tabla de transacciones -->
  <div class="table-responsive mt-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Número de Serie</th>
          <th>Monto</th>
          <th>Interés Total</th>
          <th>Fecha de Vencimiento</th>
          <th>Observaciones</th>
          <th>Saldo Restante</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions; let i = index">
          <td>{{ i + 1 }}</td> 
          <td>${{transaction.principalAmount }}</td>
          <td>{{transaction.totalInterest}}</td>
          <td>{{ transaction.dueDate | date: 'yyyy-MM-dd' }}</td>
          <td>{{ transaction.remark }}</td>
          <td>${{ transaction.remainingBalance }}</td>
          <td>
            <button class="btn btn-success btn-sm" [routerLink]="['/layout/emiDetails', userId, transaction.transactionId]">
              Ver Detalles de EMI
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
