<div class="otp-container text-center">
  <h4>Verificación de OTP</h4>
  <p>Por favor, ingrese el OTP enviado a su {{phone_number}}.</p>

  <form [formGroup]="otpForm">
    <div class="d-flex justify-content-center mb-3">
      <input
        *ngFor="let field of otpFields; let i = index"
        type="text"
        maxlength="1"
        class="otp-input mx-1 text-center"
        [formControlName]="'otp' + i"
        required
      />
    </div>

    <button type="submit" class="btn btn-submit w-100 py-2" (click)="onVerifyOTP()">
      Verificar OTP
    </button>
  </form>
</div>
