<div class="container my-5"> 
  <h2 class="table-title" style="margin-top: 200px;">Solicitudes de Crédito</h2>
  <div class="table-responsive">
    <table class="table table-striped custom-table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Dirección</th>
          <th scope="col">Contacto</th>
          <th scope="col">Ingreso Mensual</th>
          <th scope="col">Nombre del Empleador</th>
          <th scope="col">Tipo de Empleo</th>
          <th scope="col">Prueba de Identidad</th>
          <th scope="col">Estado</th>
          <th *ngIf="hasRejectedApplications()" scope="col">Razón de Rechazo</th>
          <th *ngIf="hasApprovedApplications()">Ver Detalles</th>
          <th *ngIf="hasReviewRequiredApplications()">Editar Solicitud</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of creditApplications">
          <td>{{ application.full_name }}</td>
          <td>{{ application.address }}</td>
          <td>{{ application.contact_details }}</td>
          <td>{{ application.monthly_income | currency }}</td>
          <td>{{ application.employer_name }}</td>
          <td>{{ application.employment_type }}</td>
          <td>
            <!-- Open image in new tab -->
            <a *ngIf="application.identity_proof" [href]="application.identity_proof" target="_blank">
              Ver Prueba
            </a>
            <span *ngIf="!application.identity_proof">No se ha cargado ninguna prueba</span>
          </td>
          <td>
            <span [ngClass]="{
                  'status-pending': application.status === 'Pending',
                  'status-approved': application.status === 'Approved',
                  'status-rejected': application.status === 'Rejected',
                  'status-review': application.status === 'Review Required'
                }">
              {{ application.status }}
            </span>
          </td>
          <td *ngIf="application.status === 'Approved'" >
            <button 
              class="btn btn-dark btn-sm" 
              [routerLink]="['/user/layout/all-user-details']">
              Ver Detalles
            </button>
          </td>

          <td *ngIf="application.status === 'Review Required'" >
            <button 
              class="btn btn-dark" 
              [routerLink]="['/review-required', application.id]">
              Actualizar Solicitud
            </button>
          </td>
          <td *ngIf="application.status === 'Rejected'">{{application.review_message}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
