.custom-table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  .custom-table thead {
    background-color: #000000; /* Main color */
    color: #fff;
  }
  .custom-table tbody tr:nth-child(even) {
    background-color: #f8fcec; /* Background color */
  }
  .custom-table tbody tr:hover {
    background-color: #e9f6f3; /* Light hover effect */
    transition: background-color 0.3s;
  }
  .table-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }