<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
     <h1>TUDOOM</h1>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Admin</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="./index.html" aria-expanded="false">
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
       
        <li class="sidebar-item">
          <a class="sidebar-link" href="./user-view.html" aria-expanded="false">
            <span>
              <i class="bi bi-people-fill fs-4"></i>
            </span>
            <span class="hide-menu">Users</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="./all_songs.html" aria-expanded="false">
            <span>
              <i class="bi bi-music-note-beamed fs-4"></i>
            </span>
            <span class="hide-menu">Songs</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="./all_posts.html"  aria-expanded="false">
            <span>
              <i class="bi bi-images fs-4"></i>
            </span>
            <span class="hide-menu">Posts</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="./all_reels.html" aria-expanded="false">
            <span>
              <i class="bi bi-camera-reels-fill fs-4"></i>
            </span>
            <span class="hide-menu">Reels</span>
          </a>
        </li>
     
        
      </ul>
     
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->
  
  </div>
