<div class="container">
    <div class="row">
        <div class="col-md  mt-4">
            <div class="card mt-5">
                <div class="card-body">
                   
                    <h1>New Users</h1>

                    <table class="table table-striped mt-5" id="table1">
                        <thead>
                            <tr>
                                <th>SR NO.</th>
                                <th>NAME</th>
                                <th>Employer Name</th>
                                <th>PHONE NO.</th>
                               <th>Salary</th>
                               <th>Employment Type</th>
                               <th>Document</th>
                               <th>Address</th>
                               <th>Action</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let application of userApplications; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td class="text-bold-500">{{ application.full_name }}</td>
                                <td>{{ application.employer_name }}</td>
                                <td class="text-bold-500">{{ application.contact_details }}</td>
                                <td>{{ application.monthly_income }}</td>
                                <td>{{ application.employment_type }}</td>
                                <td>
                                  <a [href]="application.identity_proof" target="_blank">View Document</a>
                                </td>
                                <td>{{ application.address }}</td>
                                <td>
                                    <div class="d-flex">
                                      <button type="button" class="btn btn-success btn-sm" (click)="statusChanged(application.id, 'Approved')">
                                        Approved
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm ms-1" (click)="statusChanged(application.id, 'Reviewed')">
                                        Reviewed
                                      </button>
                                      <button type="button" class="btn btn-danger btn-sm ms-1" (click)="statusChanged(application.id, 'Rejected')">
                                        Reject
                                      </button>
                                    </div>
                                  </td>
                                  
                              </tr>
                              
<!-- Modal -->
<div class="modal fade" id="creditModal" tabindex="-1" aria-labelledby="creditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="creditModalLabel">Add Credit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="creditAmount" class="form-label">Credit Amount</label>
                        <input type="number" class="form-control" id="creditAmount" placeholder="Enter credit amount" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Submit</button>
            </div>
        </div>
    </div>
</div>
                            
                              
                                                              
                                                                    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

