
  .card{
    border: none;
  }

  .product-section {
    display: none;
  }
  .product-section.active {
    display: flex;
  }
  .carousel-item img{
height:100vh;
  }

 
  .carousel-caption {
    top:20%;
    position: absolute; /* Ensure the caption is inside the carousel item */
    bottom: 25%; /* Position content towards the bottom */
  }
  
  /* For small screens (phones) */
  @media (max-width: 576px) { 
    .carousel-item img {
      height: 60vh; /* Reduced height on small devices */
    }
  
    .carousel-text h2 {
      font-size: 20px !important; /* Smaller font size for headings */
    }
  
    .sit-btn {
      font-weight: 400 !important;
      min-width: 80px !important;
      padding: 10px 20px !important;
    }
  
    .carousel-caption p {
      font-size: 10px !important; /* Smaller text for captions */
    }
  
    .carousel-caption {
      top: 30%;
      bottom: 10%; /* Adjust caption position */
    }
  }
  
  /* For medium screens (tablets) */
  @media (min-width: 768px) and (max-width: 1024px) {
    .carousel-item img {
      height: 50vh; /* Adjust image height for tablets */
    }
  
    .carousel-text h2 {
      font-size: 40px !important; /* Increase font size for headings */
    }
  
    .carousel-caption p {
      font-size: 20px !important; /* Slightly larger font size for caption */
    }
  
    .carousel-caption {
      top: 20%;
      bottom: 10%; /* Adjust caption position */
    }
  }
  
  /* For large screens (desktops) */
  @media (min-width: 1024px) {
    .carousel-item img {
      height: 80vh; /* Default image height for large screens */
    }
   
    .carousel-caption {
      bottom: 25%; /* Position the caption at the bottom for large screens */
    }
  }
  
 /* Corrected media query for the 664px to 768px range */


  /* Make Previous and Next Icons Visible */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black for visibility */
    border-radius: 50%; /* Optional for a rounded appearance */
  }

  /* Optional: Increase size for better visibility */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 1rem;
    height: 1rem;
    
  }
  @media (min-width: 768px) and (max-width: 1024px) {

    
  }


  .carousel a {
    pointer-events: auto;
  }
  
  .carousel-inner {
    pointer-events: none;
  }


  .elevation-card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
    background: linear-gradient(145deg, #ffffff, #f3f3f3);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }
  
  .elevation-card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  }
  
