
  .card{
    border: none;
  }

  .product-section {
    display: none;
  }
  .product-section.active {
    display: flex;
  }
  .carousel-item img{
height:80vh;
  }

 
  .carousel-caption {
    position: absolute; /* Ensure this is contained within the carousel item */
    bottom: 25%; /* Position content at the bottom */
  
  }

  @media (max-width: 576px) { /* Adjust for small devices, like phones */
    .carousel-item img {
      height: 100vh; /* Make image height 100vh on small devices */
    }
  
    .carousel-caption {
      bottom: 25%; /* Keep the caption 25% from the bottom */
    }
  }
 
  /* Make Previous and Next Icons Visible */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black for visibility */
    border-radius: 50%; /* Optional for a rounded appearance */
  }

  /* Optional: Increase size for better visibility */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
    
  }
