<section class="hero-section" data-bs-ride="carousel">
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
    data-bs-interval="4000"
  >
    <div class="carousel-indicators">
      <button
        *ngFor="let banner of banners; let i = index"
        type="button"
        [class.active]="i === 0"
        [attr.data-bs-target]="'#carouselExampleFade'"
        [attr.data-bs-slide-to]="i"
        [attr.aria-label]="'Slide ' + (i + 1)"
      ></button>
    </div>

    <div class="carousel-inner">
      <div
        *ngFor="let banner of banners; let i = index"
        class="carousel-item"
        [class.active]="i === 0"
      >
        <div class="d-block w-100">
          <a
            *ngIf="!isCreditApplied"
            routerLink="/applyForm"
            class="d-block w-100"
            style="pointer-events: auto;"
          >
            <img
              [src]="banner.image_url"
              class="d-block w-100"
              [alt]="'Banner ' + (i + 1)"
            />
          </a>
          <a
            *ngIf="isCreditApplied"
            routerLink="/user/layout/view-credit-status"
            class="d-block w-100"
            style="pointer-events: auto;"
          >
            <img
              [src]="banner.image_url"
              class="d-block w-100"
              [alt]="'Banner ' + (i + 1)"
            />
          </a>

          <!-- Caption Section -->
          <div class="carousel-caption d-flex flex-column justify-content-between align-items-start text-start" style="padding-top: 0%;">
            <div class="row">
              <div class="col-md-8">
                <div class="carousel-text">
                  <h2 style="font-size: 48px; font-family: Georgia, 'Times New Roman', Times, serif;">{{ banner.title }}</h2>
                  <p style="font-size: 20px; color: rgb(253, 237, 237); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" class="mt-3">
                    {{ banner.content }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

  
<!-- Hero Section end -->
<section class="about-section spad" id="about" >
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <img src="../../../assets/img/img1.1.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="about-text">
                  <h2>Anteojos Accesibles con Crédito Fácil</h2> <p>En Óptica Tijuana, decimos SÍ a todos aquellos que normalmente recibían un "no". Ofrecemos créditos de consumo para la compra de lentes en Tijuana, Baja California, permitiendo a nuestros clientes pagar en cuotas de forma fácil, rápida y segura. Además, apoyamos a nuestras marcas aliadas a crecer y alcanzar sus metas. Creemos en la accesibilidad y la calidad, porque tu visión merece ser lo primero.</p> <a href="#" class="site-btn sb-dark">Descubre más</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Section end -->
<section class="why-section spad">
  <div class="container">
      <div class="text-center mb-5 pb-4">
          <h2>¿Por qué elegirnos?</h2>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="icon-box-item">
                  <div class="ib-icon">
                      <i class="flaticon-012-24-hours"></i>
                  </div>
                  <div class="ib-text">
                      <h5>Aprobación de Crédito Rápida</h5>
                      <p>Obtén la aprobación de tu crédito en menos de una hora y lleva a casa tus gafas o lentes favoritos sin complicaciones.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="icon-box-item">
                  <div class="ib-icon">
                      <i class="flaticon-036-customer-service"></i>
                  </div>
                  <div class="ib-text">
                      <h5>Asistencia Experta</h5>
                      <p>Nuestro personal amable y capacitado está aquí para ayudarte a elegir las gafas o lentes perfectos que se adapten a tu estilo y necesidades.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="icon-box-item">
                  <div class="ib-icon">
                      <i class="flaticon-039-info"></i>
                  </div>
                  <div class="ib-text">
                      <h5>Opciones de Crédito Flexibles</h5>
                      <p>Ya sea que tengas un buen historial crediticio o estés comenzando, ofrecemos soluciones de crédito adaptadas para todos.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="text-center pt-3">
          <a *ngIf="!isCreditApplied" routerLink="/applyForm" class="site-btn sb-danger sit-btn">Solicitar Crédito</a>
          <a *ngIf="isCreditApplied" routerLink="/user/layout/view-credit-status" class="site-btn sb-danger sit-btn">
              Ver Estado de la Solicitud de Crédito
          </a>
      </div>
  </div>
</section>


<div class="container py-5">
  <div class="row align-items-center">
    <!-- Left Side: Image -->
    <div class="col-12 col-md-6 image-container mb-4 mb-md-0">
      <img src="../../../assets/img/img1.7.jpg" alt="Glasses Image" class="img-fluid">
    </div>
    <!-- Right Side: Content -->
    <div class="col-12 col-md-6">
      <h2 class="content-heading" style="font-size: 2rem; line-height: 1.2;">Las Mejores Gafas y Lentes de la Ciudad</h2>
      <p class="content-text mt-3" style="font-size: 1rem; line-height: 1.6;">
        Experimenta una calidad incomparable con nuestra gama premium de gafas y lentes. Diseñados para combinar 
        tecnología de vanguardia con un estilo inigualable, nuestros productos redefinen lo que significa ver y lucir lo mejor posible.
      </p>
      <p class="content-text mt-3" style="font-size: 1rem; line-height: 1.6;">
        Con la confianza de miles de personas, te ofrecemos la mezcla perfecta de elegancia, durabilidad y rendimiento. 
        ¡Renueva tus gafas hoy y ve el mundo como nunca antes!
      </p>
      <a href="#" class="btn mt-4 p-3" style="background-color: #f43f00; color: white; font-size: 1rem;">
        Compra lo Mejor Ahora
      </a>
    </div>
  </div>
</div>

<!-- Section for Small Devices -->
<section class="custom-slider-section d-block d-lg-none container" id="products"> 
  <div class="container">
    <div class="text-center mb-5">
      <h2>Nuestros Productos</h2>
    </div>
    <div id="customSlider" class="carousel slide" data-bs-ride="carousel">
      <!-- Row Wrapper -->
      <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card h-100">
                <img src="../../../assets/img/img4.png" style="height: 150px; width: auto;" class="card-img-top" alt="Gafas Marina">
                <div class="card-body">
                  <h5 class="card-title">Marina</h5>
                  <p class="card-text">Un sofisticado armazón de metal en diferentes colores.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <div class="card h-100">
                <img src="../../../assets/img/p-img2.png" style="height: 150px; width: auto;" class="card-img-top" alt="Gafas Marina">
                <div class="card-body">
                  <h5 class="card-title">Marina</h5>
                  <p class="card-text">Un sofisticado armazón de metal disponible en diferentes colores, sin duda un estilo ojo de gato que te hará lucir espectacular.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <div class="card h-100">
                <img src="../../../assets/img/p-img1.png" style="height: 150px; width: auto;" class="card-img-top" alt="Gafas Marina">
                <div class="card-body ">
                  <h5 class="card-title">Marina</h5>
                  <p class="card-text">Un sofisticado armazón de metal en colores Morado y Dorado.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <div class="card h-100">
                <img src="../../../assets/img/p-img7.png" style="height: 150px; width: auto; " class="card-img-top img-fluid" alt="Gafas Marina">
                <div class="card-body">
                  <h5 class="card-title">Marina</h5>
                  <p class="card-text">Un sofisticado armazón de metal en color Negro, estilo ojo de gato.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#customSlider"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#customSlider"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    
      <!-- Navigation Buttons -->
     
    </div>
  </div>
</section>

<div class="container my-5 d-none d-lg-block" id="product">
  <div class="text-center mb-5" >
    <h2>Nuestros Productos</h2>
  </div>

  <div id="section1" class="product-section active row">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card h-100 elevation-card p-3">
        <img src="../../../assets/img/img4.png" class="card-img-top" alt="Gafas Marina">
        <div class="card-body ">
          <h5 class="card-title">Marina</h5>
          <p class="card-text">Un sofisticado armazón de metal en diferentes colores.</p>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card h-100 elevation-card p-3">
        <img src="../../../assets/img/p-img2.png" class="card-img-top" alt="Gafas Marina">
        <div class="card-body">
          <h5 class="card-title">Marina</h5>
          <p class="card-text">Un sofisticado armazón de metal disponible en diferentes colores, sin duda un estilo ojo de gato que te hará lucir espectacular.</p>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card h-100 elevation-card p-3">
        <img src="../../../assets/img/p-img1.png" class="card-img-top" alt="Gafas Marina">
        <div class="card-body ">
          <h5 class="card-title">Marina</h5>
          <p class="card-text">Un sofisticado armazón de metal en colores Morado y Dorado.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="section2" class="product-section row">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card h-100 elevation-card p-3">
        <img src="../../../assets/img/p-img7.png" class="card-img-top" alt="Gafas Marina">
        <div class="card-body">
          <h5 class="card-title">Marina</h5>
          <p class="card-text">Un sofisticado armazón de metal en color Negro, estilo ojo de gato.</p>
        </div>
      </div>
    </div>
  </div>
  

  <div class="text-center mt-4">
      <button class="btn btn-secondary me-2" onclick="showSection('section1')">
        <i class="bi bi-chevron-left"></i>
      </button>
      <button class="btn btn-secondary" onclick="showSection('section2')">
        <i class="bi bi-chevron-right"></i>
      </button>
  </div>
</div>



<section class="cta-section set-bg" style="background-color: whitesmoke;">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-5 col-12 text-center mb-3 mb-md-0">
        <img src="../../../assets/img/beautiful-woman-red-sweater.png" class="img-fluid" alt="Hermosa Mujer con Suéter Rojo">
      </div>
    
      <div class="col-md-7 col-12 text-center text-md-start">
        <h2>Transforma tu visión con  
          <strong>Opticatijuana</strong> Gafas  
        </h2>
        <a href="#" class="site-btn sb-dark sb-big mt-4">Descubre Más</a>
      </div>
    </div>
  </div>
</section>



<!-- Feature Section -->
<section class="feature-section spad">
  <div class="container">
      <!-- Feature 1 -->
      <div class="feature-item">
          <div class="row">
              <div class="col-lg-6">
                  <img src="../../../assets/img/feature-1.jpg" alt="Solicitud de Crédito para Lentes">
              </div>
              <div class="col-lg-6">
                  <div class="feature-text">
                      <h2>Solicita un Crédito Fácil para tus Lentes</h2>
                      <p>Creemos que todos merecen una visión clara y marcos elegantes sin estrés financiero. Con nuestros planes de crédito flexibles, puedes comprar tus lentes favoritos hoy y pagar de manera conveniente. ¡Solicitarlo es rápido, sencillo y sin complicaciones!</p>
                      <a *ngIf="!isCreditApplied" routerLink="/applyForm" style="color: #f43f00; font-weight: 900; font-size: 16px;">
                          Solicitar Crédito
                      </a>
                      <a style="color: #f43f00; font-weight: 900; font-size: 16px;" 
                         *ngIf="isCreditApplied" 
                         routerLink="/user/layout/view-credit-status">
                          Ver el Estado de la Solicitud de Crédito
                      </a>
                  </div>
              </div>
          </div>
      </div>

      <!-- Feature 2 -->
      <div class="feature-item">
          <div class="row">
              <div class="col-lg-6 order-lg-2">
                  <img src="../../../assets/img/feature-2.jpg" alt="Aprobación de Crédito para Lentes">
              </div>
              <div class="col-lg-6 order-lg-1">
                  <div class="feature-text">
                      <h2>Obtén Aprobación en Minutos</h2>
                      <p>Con nuestro proceso de solicitud en línea sin complicaciones, puedes obtener la aprobación de crédito para tus lentes en solo unos minutos. ¡No hay necesidad de esperar! Empieza a disfrutar de tus nuevos lentes mientras pagas después en un plan que se adapte a ti.</p>
                      <a *ngIf="!isCreditApplied" routerLink="/applyForm" style="color: #f43f00; font-weight: 900; font-size: 16px;">
                          Solicitar Crédito
                      </a>
                      <a style="color: #f43f00; font-weight: 900; font-size: 16px;" 
                         *ngIf="isCreditApplied" 
                         routerLink="/user/layout/view-credit-status">
                          Ver el Estado de la Solicitud de Crédito
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Feature Section end -->

<section class="score-section text-white set-bg" id="score"  
    style="background-image: url(../../../assets/img/score-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <h2>Ve con claridad todos los días</h2>
                <h4>Descubre lentes de alta calidad, gafas elegantes y monturas duraderas para una comodidad incomparable y una visión perfecta a diario.</h4>
                <a href="#" class="site-btn sb-big">Contáctanos</a>
            </div>
        </div>
        <div class="offset-5">
            <img src="../../../assets/img/img1.5-removebg-preview.png" alt="" class="hand-img">
        </div>
    </div>
</section>

<!-- Help Section -->

<!-- Help Section end -->


<!-- Info Section -->
<section class="info-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="../../../assets/img/info-img.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="info-text">
                    <h2>We’re here to help</h2>
                    <!-- <h5>Monday to Thursday (8am to 8pm), and Friday (8am to 5pm).</h5> -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut
                        labore et dolore mag na aliqua. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem
                        sodales nec. In libero orci, ornare non nisl.</p>
                    <ul>
                        <li>+34 56873 2246</li>
                        <li>contact@opticatijuana.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Info Section end -->

<!-- Score Section end -->

<section class="help-section spad">
  <div class="container">
      <div class="text-center text-white mb-5 pb-4">
          <h2>Cómo los créditos personales pueden ayudarte a comprar gafas</h2>
      </div>
      <div class="row">
          <div class="col-md-6">
              <p>Nuestro sistema de créditos personales facilita más que nunca la compra de las gafas que necesitas. Los créditos se ganan y se asignan a tu cuenta, ayudándote a disfrutar de descuentos o incluso a cubrir el costo total de tu próximo par de gafas.</p>
          </div>
          <div class="col-md-6">
              <p>Ya sea que estés renovando tu estilo o reemplazando tus gafas actuales, los créditos simplifican el proceso. Canjéalos al finalizar la compra para ahorrar y hacer que las gafas sean más accesibles para todos.</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <ul class="help-list">
                  <li>Gana créditos con cada compra</li>
                  <li>Usa créditos para descuentos exclusivos</li>
                  <li>Ahorra para gafas premium</li>
                  <li>Disfruta de ofertas personalizadas</li>
              </ul>
          </div>
          <div class="col-md-4">
              <ul class="help-list">
                  <li>Compra gafas para tu familia</li>
                  <li>Actualiza tus lentes fácilmente</li>
                  <li>Accede a promociones especiales</li>
                  <li>Siéntete seguro con tu estilo</li>
              </ul>
          </div>
          <div class="col-md-4">
              <ul class="help-list">
                  <li>Regala créditos a tus seres queridos</li>
                  <li>Consigue monturas elegantes para cualquier ocasión</li>
                  <li>Mejora tu visión de forma económica</li>
                  <li>Mantente a la moda con nuevos diseños</li>
              </ul>
          </div>
      </div>
  </div>
</section>
<!-- Score Section end -->



<section class="contact-section spad" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h2>Get in touch</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut
                        labore et dolore mag na aliqua. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos hime-naeos. Suspendisse potenti. </p>
                    <ul>
                        <li><i class="flaticon-032-placeholder"></i>1525 Lane, Los Angeles, CA</li>
                        <li><i class="flaticon-029-telephone-1"></i>+1 (603)535-4592</li>
                        <li><i class="flaticon-025-arroba"></i>hello@youremail.com</li>
                        <li><i class="flaticon-038-wall-clock"></i>Everyday: 06:00 -22:00</li>
                    </ul>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Your E-mail">
                        </div>
                        <div class="col-md-12">
                            <input type="text" placeholder="Subject">
                            <textarea placeholder="Your Message"></textarea>
                            <button class="site-btn">send message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10784.188505644011!2d19.053119335158936!3d47.48899529453826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1543907528304"
                style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>