
  .card{
    border: none;
  }

  .product-section {
    display: none;
  }
  .product-section.active {
    display: flex;
  }
  .carousel-item img{
height:80vh;
  }

 
  .carousel-caption {
    position: absolute; /* Ensure this is contained within the carousel item */
    bottom: 25%; /* Position content at the bottom */
  
  }
  
  