
<section class="hero-section" data-bs-ride="carousel">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000">
      <div class="carousel-indicators">
        <button
          *ngFor="let banner of banners; let i = index"
          type="button"
          [class.active]="i === 0"
          [attr.data-bs-target]="'#carouselExampleFade'"
          [attr.data-bs-slide-to]="i"
          [attr.aria-label]="'Slide ' + (i + 1)"
        ></button>
      </div>
  
      <div class="carousel-inner">
        <div
          *ngFor="let banner of banners; let i = index"
          class="carousel-item"
          [class.active]="i === 0"
        >
          <img [src]="banner.image_url" class="d-block w-100" [alt]="'Banner ' + (i + 1)" />
          <div class="carousel-caption d-flex justify-content-start align-items-top text-start" style="top:35%;">
            <div class="carousel-text">
              <h2 style="font-size: 60px;">Your Heading Here</h2>
              <p style="font-size: 20px;">{{ banner.content }}</p>
              <a *ngIf="!isCreditApplied" routerLink="/applyForm" class="site-btn sb-danger mt-5">Apply Credit</a>
              <a
                *ngIf="isCreditApplied"
                routerLink="/user/layout/view-credit-status"
                class="site-btn sb-danger mt-5"
              >
                View Credit Application Status
              </a>
            </div>
          </div>
        </div>
      </div>
  
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  

  
  
<!-- Hero Section end -->
<section class="about-section spad" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="../../../assets/img/about-img.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="about-text">
                    <h2>A team to help you</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut
                        labore et dolore mag na aliqua. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem
                        sodales nec. In libero orci, ornare non nisl. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tem por incididunt ut labore et dolore mag na aliqua. Class aptent taciti
                        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut
                        gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare non nisl.</p>
                    <a href="#" class="site-btn sb-dark">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Section end -->
<section class="why-section spad">
    <div class="container">
        <div class="text-center mb-5 pb-4">
            <h2>Why Choose us?</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="ib-icon">
                        <i class="flaticon-012-24-hours"></i>
                    </div>
                    <div class="ib-text">
                        <h5>Money in 1 Hour!</h5>
                        <p>Lorem ipsum dolor sit amet, consecte-tur adipiscing elit, sed do eiusmod tem por incididunt
                            ut labore et dolore mag na aliqua. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="ib-icon">
                        <i class="flaticon-036-customer-service"></i>
                    </div>
                    <div class="ib-text">
                        <h5>Helpfull Staff</h5>
                        <p>Lorem ipsum dolor sit amet, consecte-tur adipiscing elit, sed do eiusmod tem por incididunt
                            ut labore et dolore mag na aliqua. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="ib-icon">
                        <i class="flaticon-039-info"></i>
                    </div>
                    <div class="ib-text">
                        <h5>Credit History Considered</h5>
                        <p>Lorem ipsum dolor sit amet, consecte-tur adipiscing elit, sed do eiusmod tem por incididunt
                            ut labore et dolore mag na aliqua. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pt-3">
            <a routerLink="/applyForm" class="site-btn sb-big">Apply Now!</a>
        </div>
    </div>
</section>


<div class="container my-5">
    <div class="text-center mb-5">
      <h2>Our Products</h2>
    </div>

    <!-- Product Sections -->
    <div id="section1" class="product-section active row">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100">
          <img src="../../../assets/img/p-img1.png" class="card-img-top" alt="Product Image">
          <div class="card-body text-center">
            <h5 class="card-title">Product 1</h5>
            <p class="card-text text-muted">$29.99</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100">
          <img src="../../../assets/img/p-img2.png" class="card-img-top" alt="Product Image">
          <div class="card-body text-center">
            <h5 class="card-title">Product 2</h5>
            <p class="card-text text-muted">$39.99</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100">
          <img src="../../../assets/img/p-img3.png" class="card-img-top" alt="Product Image">
          <div class="card-body text-center">
            <h5 class="card-title">Product 3</h5>
            <p class="card-text text-muted">$49.99</p>
          </div>
        </div>
      </div>
    </div>

    <div id="section2" class="product-section row">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100">
          <img src="../../../assets/img/p-img3.png" class="card-img-top" alt="Product Image">
          <div class="card-body text-center">
            <h5 class="card-title">Product 4</h5>
            <p class="card-text text-muted">$29.99</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100">
          <img src="../../../assets/img/p-img3.png" class="card-img-top" alt="Product Image">
          <div class="card-body text-center">
            <h5 class="card-title">Product 5</h5>
            <p class="card-text text-muted">$39.99</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100">
          <img src="../../../assets/img/p-img1.png" class="card-img-top" alt="Product Image">
          <div class="card-body text-center">
            <h5 class="card-title">Product 6</h5>
            <p class="card-text text-muted">$49.99</p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-secondary me-2" onclick="showSection('section1')">
          <i class="bi bi-chevron-left"></i>
        </button>
        <button class="btn btn-secondary" onclick="showSection('section2')">
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
  </div>



<!-- CTA Section end -->
<section class="cta-section set-bg" style="background-image: url('../../../assets/img/cta-bg.jpg');">
    <div class="container">
        <h2>Already have a
            <strong>Opticatijuana</strong>
            Bank Credit?
        </h2>
        <h5>If you're thinking about borrowing more, we're here to help.</h5>
        <a href="#" class="site-btn sb-dark sb-big">Find out More</a>
    </div>
</section>
<!-- CTA Section end -->


<!-- Feature Section -->
<section class="feature-section spad">
    <div class="container">
        <div class="feature-item">
            <div class="row">
                <div class="col-lg-6">
                    <img src="../../../assets/img/feature-1.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="feature-text">
                        <h2>Get a personal Credit from just 8.5% APR</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut
                            labore et dolore mag na aliqua. Class aptent taciti sociosqu ad litora torquent per conubia
                            nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius
                            lorem sodales nec. In libero orci, ornare non nisl.</p>
                        <a routerLink="/applyForm" class="readmore">Apply for a credit now <img src="img/arrow.png"
                                alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="row">
                <div class="col-lg-6 order-lg-2">
                    <img src="../../../assets/img/feature-2.jpg" alt="">
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="feature-text">
                        <h2>Get aproved in minutes after you apply online</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut
                            labore et dolore mag na aliqua. Class aptent taciti sociosqu ad litora torquent per conubia
                            nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius
                            lorem sodales nec. In libero orci, ornare non nisl.</p>
                        <a routerLink="/applyForm" class="readmore">Apply for a credit now <img src="img/arrow.png"
                                alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section end -->


<!-- Help Section -->
<section class="help-section spad">
    <div class="container">
        <div class="text-center text-white mb-5 pb-4">
            <h2>How a personal credit can help</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut labore
                    et dolore mag na aliqua. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                    inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec.</p>
            </div>
            <div class="col-md-6">
                <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut labore et dolore mag na
                    aliqua. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare
                    non nisl.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul class="help-list">
                    <li>Buying a car</li>
                    <li>Take control of your finances</li>
                    <li>Pay school tuitions</li>
                    <li>Adding value to your home</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="help-list">
                    <li>Increese your budget</li>
                    <li>Have a day to remember</li>
                    <li>Get a new card</li>
                    <li>Go on a holliday</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="help-list">
                    <li>Get an Insurance</li>
                    <li>Take a trip</li>
                    <li>Help your kids</li>
                    <li>Renovate your home</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Help Section end -->


<!-- Info Section -->
<section class="info-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="../../../assets/img/info-img.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="info-text">
                    <h2>We’re here to help</h2>
                    <!-- <h5>Monday to Thursday (8am to 8pm), and Friday (8am to 5pm).</h5> -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut
                        labore et dolore mag na aliqua. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem
                        sodales nec. In libero orci, ornare non nisl.</p>
                    <ul>
                        <li>+34 56873 2246</li>
                        <li>contact@opticatijuana.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Info Section end -->

<!-- Score Section end -->
<section class="score-section text-white set-bg" id="score"
    style="background-image: url(../../../assets/img/score-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <h2>Calculate my Credit</h2>
                <h4>Check your credit reports as often as you want, it won't affect your scores.</h4>
                <a href="#" class="site-btn sb-big">show my Credit</a>
            </div>
        </div>
        <img src="../../../assets/img/hand.png" alt="" class="hand-img">
    </div>
</section>
<!-- Score Section end -->



<section class="contact-section spad" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h2>Get in touch</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut
                        labore et dolore mag na aliqua. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos hime-naeos. Suspendisse potenti. </p>
                    <ul>
                        <li><i class="flaticon-032-placeholder"></i>1525 Lane, Los Angeles, CA</li>
                        <li><i class="flaticon-029-telephone-1"></i>+1 (603)535-4592</li>
                        <li><i class="flaticon-025-arroba"></i>hello@youremail.com</li>
                        <li><i class="flaticon-038-wall-clock"></i>Everyday: 06:00 -22:00</li>
                    </ul>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Your E-mail">
                        </div>
                        <div class="col-md-12">
                            <input type="text" placeholder="Subject">
                            <textarea placeholder="Your Message"></textarea>
                            <button class="site-btn">send message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10784.188505644011!2d19.053119335158936!3d47.48899529453826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1543907528304"
                style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>