<!-- Sección de Encabezado -->
<header class="header-section">
  <a routerLink="/user/layout/home" class="site-logo">
      <i class="fas fa-arrow-left text-white"></i> <span class="text-white">Volver al inicio</span>
  </a>
</header>
<!-- Fin de la Sección de Encabezado -->
<section class="page-top-section set-bg" style="background-image: url('../../../assets/img/page-top-bg/1.jpg');">
  <div class="container">
      <h2>Solicita Ahora</h2>
  </div>
</section>

<section class="loans-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <img src="../../../assets/img/applyCredit.jpg" alt="" style="height: 420px;">
          </div>
          <div class="col-lg-6">
            <div class="loans-text">
                <h2>Obtén Crédito para Tus Lentes en Línea</h2>
                <p>Tu visión es importante para nosotros, y ahora, tener el par perfecto de lentes es más fácil que nunca. Con nuestras opciones de crédito flexibles, puedes obtener los lentes que necesitas sin gastar de más. Solicita en línea hoy mismo y disfruta de un proceso sin complicaciones, diseñado para tu comodidad.</p>
                <ul>
                    <li>Proceso de solicitud en línea rápido y seguro</li>
                    <li>Pagos mensuales accesibles que se adaptan a tu presupuesto</li>
                    <li>Acceso a una amplia gama de lentes elegantes y funcionales</li>
                </ul>
                <a href="#" class="site-btn">¡Solicita Ahora!</a>
            </div>
        </div>
      </div>
  </div>
</section>
<section class="loan-application-section mt-3">
<div class="alert alert-success form-submitted-alert bg-dark" style="height: 400px;" *ngIf="formSubmitted">
  <h4 class="alert-heading display-4 text-white d-flex justify-content-center align-items-center text-center" style="margin-top: 100px;">¡Solicitud Enviada Exitosamente!</h4>
  <p class="lead text d-flex justify-content-center align-items-center text-center">Gracias por aplicar. Revisaremos tu solicitud y nos pondremos en contacto contigo pronto.</p>
</div>

<div class="container" *ngIf="!formSubmitted">
  <h2 class="section-title">Solicita Crédito</h2>

  <form
    [formGroup]="applyForm"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
    class="hero-form mt-4"
  >
    <!-- Campo Nombre Completo -->
    <div class="form-group">
      <label for="name" class="form-label text-white">Nombre Completo:</label>
      <input
        type="text"
        id="name"
        formControlName="full_name"
        placeholder="Ingresa tu nombre completo"
        required
      />
    </div>

    <!-- Campo Dirección -->
    <div class="form-group">
      <label for="address" class="form-label text-white">Dirección:</label>
      <input
        type="text"
        id="address"
        formControlName="address"
        placeholder="Ingresa tu dirección"
        required
      />
    </div>

    <!-- Campo Detalles de Contacto -->
    <div class="form-group">
      <label for="contact" class="form-label text-white">Detalles de Contacto:</label>
      <input
        type="text"
        id="contact"
        formControlName="contact_details"
        placeholder="Ingresa tus datos de contacto"
        required
      />
    </div>

    <!-- Campo Ingreso Mensual -->
    <div class="form-group">
      <label for="income" class="form-label text-white">Ingreso Mensual:</label>
      <input
        type="number"
        id="income"
        formControlName="monthly_income"
        placeholder="Ingresa tu ingreso mensual"
        required
      />
    </div>

    <!-- Campo Nombre del Empleador -->
    <div class="form-group">
      <label for="employer" class="form-label text-white">Nombre del Empleador:</label>
      <input
        type="text"
        id="employer"
        formControlName="employer_name"
        placeholder="Ingresa el nombre de tu empleador"
      />
    </div>

    <!-- Campo Tipo de Empleo -->
    <div class="form-group">
      <label for="employmentType" class="form-label text-white">Tipo de Empleo:</label>
      <input
        type="text"
        id="employmentType"
        formControlName="employment_type"
        placeholder="Ingresa tu tipo de empleo"
      />
    </div>

    <!-- Cargar Prueba de Identidad -->
    <div class="form-group">
      <label for="identityProof" class="form-label text-white">Prueba de Identidad:</label>
      <input
        type="file"
        id="identityProof"
        (change)="onFileSelected($event, 'identity_proof')"
        required
      />
    </div>

    <!-- Cargar Comprobante de Residencia -->
    <div class="form-group">
      <label for="residenceProof" class="form-label text-white">Comprobante de Residencia:</label>
      <input
        type="file"
        id="residenceProof"
        (change)="onFileSelected($event, 'proof_of_residence')"
        required
      />
    </div>

    <!-- Cargar Comprobante de Ingreso -->
    <div class="form-group">
      <label for="incomeProof" class="form-label text-white">Comprobante de Ingreso:</label>
      <input
        type="file"
        id="incomeProof"
        (change)="onFileSelected($event, 'proof_of_income')"
        required
      />
    </div>

    <!-- Botón Enviar -->
    <button type="submit" class="site-btn">Solicitar Ahora</button>
  </form>
</div>
</section>


<!-- Fin de la Sección de Pie de Página -->
